# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# VSCode
.vscode/

# Runtime/download data
pbd/
downloads/
bookmarks/

# Temporary files
*.tmp
*.log

# OS files
Thumbs.db
.DS_Store